CMakeCache.txt
CMakeFiles
cmake_install.cmake
build*
cublas/cg_cublas
cuda/cg_cuda
cusp/cg_cusp
cusparse/cg_cusparse
dumpmtx/cg_dumpmtx
lis/cg_lis
mkl/cg_mkl
openacc/cg_openacc
openmp/cg_omp
openmp/cg_omp_dd
serial/cg_ser
tasking/cg_task_pp
tasking/cg_task_pp_dd
tasking/cg_task_sp
tasking/cg_task_sp_dd
viennacl/cg_viennacl
*~
*.mtx
*.mtxdump
*.vec
